/* Variables de color */
/* Definición de variables CSS para los colores del tema Anthsoft */
:root {
  --azul-oscuro: #042c47;        /* Fondo principal y navbar */
  --azul-medio: #134b70;         /* Secciones y contenedores */
  --azul-claro: #65b4e5;         /* Botones, tarjetas, detalles */
  --blanco: #ffffff;             /* Texto principal, íconos claros */
  --gris-claro: #e5f4fb;         /* Fondos suaves y hover */
  --texto-principal: #f0f8ff;    /* Texto en contraste */
  --hover-boton: #509ecc;        /* Hover para botones azules */
}



/* Reset básico para evitar inconsistencias entre navegadores */
* {
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
}

/* Estilos generales */
body {
  font-family: 'Arial', sans-serif; 
  background-color: var(--azul-oscuro);
  color: var(--texto-principal); 
}

/* Vista desktop */
@media (min-width: 1024px) {
  .mainContent {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
    padding-top: 12vh; 
    color: var(--texto-principal);
    background-color: var(--azul-medio); 
  }

  .mainContent h2 {
    font-size: 3.5vw; 
    font-weight: bold;
    margin-top: 16vh; 
  }

  .mainContent h3 {
    font-size: 1.85vw;
    text-align: center;
    margin-top: 2.8vh;
  }

  .open-popup {
    margin-top: 19vh;
    padding: 3vh 1.5vw;
    font-size: 2vw;
    background-color: var(--azul-claro);
    color: var(--texto-principal);
    border: none; 
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  }

  .services {
    width: 100%;
    height: 90vh;
    background-color: var(--azul-oscuro);
    color: var(--texto-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services h1 {
    font-size: 3vw;
    margin-top: 8vh;
    margin-right: 40vw;
    font-size: 5vw;
    font-weight: bold;
  }

  .service-list {
    width: 81vw;
    height: 75%;
    overflow: hidden; /* Ocultamos lo que se desborde */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .service-track {
    display: flex;
    gap: 3vw;
    transition: transform 0.5s ease;
    width: max-content;
  }
  
  .services-button{
    position: absolute;
    top: 150%;
    transform: translateY(-50%);
    background-color: var(--gris-claro);
    color: black;
    border: none;
    padding: 2vh 1.5vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100%;
    }

  #prev-button{
    left: 2.3vw;
  }

  #next-button{
    right: 2.3vw;
  }

  .ver-mas{
    color: var(--texto-principal);
    background-color: var(--hover-boton);
    font-size: 1vw;
    width: 5vw;
    height: 3.5vh;
    margin-left: 76vw;
    cursor: pointer;
  }
}