/* Variables de color */
/* Definición de variables CSS para los colores del tema Anthsoft */
:root {
  --azul-oscuro: #042c47;        /* Fondo principal y navbar */
  --azul-medio: #134b70;         /* Secciones y contenedores */
  --azul-claro: #65b4e5;         /* Botones, tarjetas, detalles */
  --blanco: #ffffff;             /* Texto principal, íconos claros */
  --gris-claro: #e5f4fb;         /* Fondos suaves y hover */
  --texto-principal: #f0f8ff;    /* Texto en contraste */
  --hover-boton: #509ecc;        /* Hover para botones azules */
}

/* Vista desktop */
@media (min-width: 1024px) {
  header {
    background-color: var(--azul-oscuro); 
    color: var(--texto-principal); 
    display: flex; 
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    padding-bottom: 1.5vh; 
    border-bottom: .2vw solid var(--gris-claro);
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logoContainer {
    margin-top: 1.3vh;
    margin-left: 3vw;
    height: 10vh;
    width: 10vw;
  }

  #logoContainer img {
    width: 70%;
    height: 100%;
  }

  #titleContainer {
    font-size: 2vw; 
    margin-top: 3vh;
    height: min-content;

  }

  #titleContainer h1 {
    margin-top: .3vh;
    font-weight: bold;
    text-align: center;
  }

  #navigation {
    margin-left: 35%;
    padding-top: 1.9vh;
  }

  #navigation button {
    margin: 0 1.5vw; 
    border: none;
    background-color: transparent; 
    color: var(--texto-principal); 
    font-size: 1.5vw; 
  }
}