/* Variables de color */
/* Definición de variables CSS para los colores del tema Anthsoft */
:root {
  --azul-oscuro: #042c47;        /* Fondo principal y navbar */
  --azul-medio: #134b70;         /* Secciones y contenedores */
  --azul-claro: #65b4e5;         /* Botones, tarjetas, detalles */
  --blanco: #ffffff;             /* Texto principal, íconos claros */
  --gris-claro: #e5f4fb;         /* Fondos suaves y hover */
  --texto-principal: #f0f8ff;    /* Texto en contraste */
  --hover-boton: #509ecc;        /* Hover para botones azules */
}

.popup {
  display: flex;
  font-style: var(--blanco);
  justify-content: center;
}

.hidden {
  display: none !important;
}

/* Vista desktop */
@media (min-width: 1024px) {

  #popupMasNos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    z-index: 2000;
  }

  #popupMasNosContent {
    margin-top: 3%;
    background: white;
    width: 45%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    border: 10px solid #fff;  /* borde blanco visible */
    border-radius: 0.5VW;
    position: relative;
    overflow-y: auto;
  }

  #popupMasNosContent img{
    width: 100%;
    height: auto;           /* Permite que la imagen crezca naturalmente */
    display: block;
  }

  #close-popup {
    align-self: flex-end;
    position: absolute;
    top: 0;
    margin-right: 0;
    padding: 1.5vw;
    font-size: 1.5vw;
    background-color: var(--azul-claro);
    color: var(--blanco);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
}