  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/mainDesktop.css" />
      <link rel="stylesheet" href="/css/NavBar.css">
      <link rel="stylesheet" href="/css/popUp1.css">
      <title>Antsoft</title>
    </head>
    <body>
      
      <%- include('../partials/header') %>

      <main>
        <div class="MainContent"> 
          <h2>Creamos páginas web <br> modernas, rapidas y responsivas</h2>
          <h3>Especialistas en diseño, desarrollo y despliegue web completo.</h3>
          <button class="open-popup" data-popup-target="#popupMasNos">Conoce mas sobre nosotros</button>
          <%- include('../partials/popUp1.ejs') %>
        </div>
        <section class="services">
          <h1>Nuestros servicios</h1>
          <div class="service-list">
            <% servicios.forEach(servicio => { %>
              <%- include('../partials/serviceCard', { servicio }) %>
            <% }) %>
          </div>
          <button class="ver-mas">Ver más</button>
        </section>
      </main>
      <script src="/js/popUp1.js"></script>
    </body>
  </html>