  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/mainDesktop.css" />
      <link rel="stylesheet" href="/css/NavBar.css">
      <link rel="stylesheet" href="/css/popUp1.css">
      <link rel="stylesheet" href="/css/serviceCard.css">
      <title>Antsoft</title>
    </head>
    <body>
      
      <%- include('../partials/header') %>

      <main>
        <div class="mainContent"> 
          <h2>Creamos páginas web <br> modernas, rapidas y responsivas</h2>
          <h3>Especialistas en diseño, desarrollo y despliegue web completo.</h3>
          <button class="open-popup" data-popup-target="#popupMasNos">Conoce mas sobre nosotros</button>
          <%- include('../partials/popUp1.ejs') %>
        </div>
        <div class="services">
          <h1>Nuestros servicios</h1>
          <div class="service-list">
            <% servicios.slice(0, 3).forEach(servicio => { %>
              <%- include('../partials/serviceCard', { servicio }) %>
            <% }) %>           
          </div>
          <button class="services-button" id="prev-button"><</button>
          <button class="services-button" id="next-button">></button>
          <button class="ver-mas">Ver más</button>
        </div>
      </main>
      <script>
        const servicios = <%- JSON.stringify(servicios) %>; // Los servicios se pasan desde EJS al cliente
      </script>
      <script src="/js/popUp1.js"></script>
      <script src="/js/serviceCarousel.js"></script>
    </body>
  </html>