<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antsoft</title>
  </head>
  <body>
    
    <header id="Header">
      <div id="LogoContainer" class="Header">
      <img src="/img/header3.png" alt="">
      </div>
      <div id="TitleContainer" class="Header">
        <h1>Antsoft</h1>
      </div>
      <nav id="Navigation" class="Header">
        <button >Inicio</button>
        <button >Nosotros</button>
        <button >Portafolio</button>
        <button >Contacto</button>
      </nav>
    </header>

    <main>
      <div class="MainContent">
        <h2>Creamos p치ginas web <br> modernas, rapidas y responsivas</h2>
        <h3>Especialistas en dise침o, desarrollo y despliegue web completo.</h3>
        <button>Conoce mas sobre nosotros</button>
      </div>
      <div class="Services">
        <h1>Nuestros servicios</h1>
        <div class="ServiceList">
            <section>
              <img src="/img/servicio1.png" alt="Servicio 1">
              <h2>Dise침o Web</h2>
              <p>Dise침amos sitios web atractivos y funcionales que capturan la esencia de tu marca.</p>
            </section>
        </div>
      </div>
    </main>
    <script type="module" src="/src/Ts/main.ts"></script>
  </body>
</html>