<header id="Header">
    <div id="LogoContainer" class="Header">
        <img src="/img/header3.png" alt="">
    </div>
    <div id="TitleContainer" class="Header">
        <h1>Antsoft</h1>
    </div>
    <nav id="Navigation" class="Header">
        <button >Inicio</button>
        <button >Nosotros</button>
        <button >Portafolio</button>
        <button >Contacto</button>
    </nav>
</header>