<header id="header">
    <div id="logoContainer" class="header">
        <img src="/img/header3.png" alt="">
    </div>
    <div id="titleContainer" class="header">
        <h1>Antsoft</h1>
    </div>
    <nav id="navigation" class="header">
        <button >Inicio</button>
        <button >Nosotros</button>
        <button >Portafolio</button>
        <button >Contacto</button>
    </nav>
</header>